<div style="display: flex;">
  <div style="margin-right: 20px;">
    <img src="assets/credit-card-photo.png" alt="Kredi Kartı" height="400" width="400 " />
  </div>
  <div class="container">
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
      <app-input
        [control]="cardForm.get('name')"
        label="Ad Soyad"
        placeholder="Ahmet Tuna"
      ></app-input>
      <app-input
        [control]="cardForm.get('cardNumber')"
        label="Kart Numarası"
        placeholder="1234567887654321"
      ></app-input>
      <div class="columns">
        <div class="column">
          <app-input
            [control]="cardForm.get('expiration')"
            label="Son Kullanma Tarihi"
            placeholder="MM/YY"
          ></app-input>
        </div>
        <div class="column">
          <app-input
            [control]="cardForm.get('securityCode')"
            label="Güvenlik Kodu"
            placeholder="123"
          ></app-input>
        </div>
      </div>
      <div class="buttons to-right">
        <button class="button is-warning" type="button" (click)="resetForm()">
          Temizle
        </button>
        <button
          class="button is-primary"
          type="submit"
          [disabled]="cardForm.invalid"
        >
          Kaydet
        </button>
      </div>
    </form>
  </div>
</div>
