<input type="text" formControlName="name">
<!-- <ng-container 
*ngIf="cardForm.get('name')?.dirty && cardForm.get('name')?.dirty && cardForm.get('name')?.errors"
>
<div *ngIf="cardForm.get('name')?.errors?.['required']">
  <p style="color:red">
      *Zorunlu Alan
  </p>
</div>
<div *ngIf="cardForm.get('name')?.errors?.['minlength']">
  <p style="color:red">
      *Girdiğiniz isim {{cardForm.get('name')?.errors?.['minlength']?.['actualLength']}} karakter içeriyor.
      Lütfen en az {{cardForm.get('name')?.errors?.['minlength']?.['requiredLength']}} adet karakter giriniz
  </p>
</div>
</ng-container> -->