<input type="text" formControlName="name">
<ng-container 
*ngIf="control.get('name')?.dirty && control.get('name')?.dirty && control.get('name')?.errors"
>
<div *ngIf="control.get('name')?.errors?.['required']">
  <p style="color:red">
      *Zorunlu Alan
  </p>
</div>
<div *ngIf="control.get('name')?.errors?.['minlength']">
  <p style="color:red">
      *Girdiğiniz isim {{control.get('name')?.errors?.['minlength']?.['actualLength']}} karakter içeriyor.
      Lütfen en az {{control.get('name')?.errors?.['minlength']?.['requiredLength']}} adet karakter giriniz
  </p>
</div>
</ng-container> 